node_modules/
dist/
.env
.env.local
*.log
.DS_Store

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
/prisma/migrations

# ws-server (отдельный репозиторий для Railway) 
/ws-server
.next/
fix-env.sh
